<!--https://mdbootstrap.com/docs/standard/extended/registration/-->

<div class="container py-5">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-12 col-lg-9 col-xl-7">
      <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
        <div class="card-body p-4 p-md-5">
          <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">Editar Paciente</h3>
          <form [formGroup]="fgValidador" method="POST" (ngSubmit)="EditarPaciente()">
            <input type="hidden" formControlName="id">
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" formControlName="nombres" id="nombres" class="form-control form-control-lg" />
                  <label class="form-label" for="nombres">Nombres</label>
                </div>

              </div>
              <div class="col-md-6 mb-4">

                <div class="form-outline">
                  <input type="text" formControlName="apellidos" id="apellidos" class="form-control form-control-lg" />
                  <label class="form-label" for="apellidos">Apellidos</label>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-4 d-flex align-items-center">

                <div class="form-outline datepicker w-100">
                  <input type="number" formControlName="cedula" class="form-control form-control-lg" id="cedula" />
                  <label for="cedula" class="form-label">Cedula</label>
                </div>

              </div>
              <div class="col-md-6 mb-4">
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" formControlName="fechaNacimiento" ngbDatepicker
                    #d="ngbDatepicker" />
                  <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-4 pb-2">
                <div class="form-outline">
                  <input type="tel" formControlName="telefono" id="telefono" class="form-control form-control-lg" />
                  <label class="form-label" for="telefono">Telefono</label>
                </div>
              </div>
              <div class="col-md-6 mb-4 pb-2">
                <div class="form-outline">
                  <input type="text" formControlName="Genero" id="Genero" class="form-control form-control-lg" />
                  <label class="form-label" for="Genero">Genero</label>
                </div>
              </div>
              <div class="col-md-6 mb-4 pb-2">
                <div class="form-outline">
                  <input type="text" formControlName="EPS" id="EPS" class="form-control form-control-lg" />
                  <label class="form-label" for="EPS">EPS</label>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-6 mb-6 d-flex align-items-center justify-content-center">
              </div>
              <div class="col-md-6 mb-6 d-flex align-items-center justify-content-center">
                <div class="modal-footer">
                  <button [disabled]="!fgValidador.valid" class="btn btn-primary btn-lg" type="submit"
                    value="Guardar">Guardar</button>
                  <a routerLink="/administracion/pacientes" class="ml-auto">
                    <button type="button" class="btn btn-danger btn-lg">Cancelar</button>
                  </a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>