<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="assets\logoMenuPrincipal.png"
        class="d-block mx-lg-auto img-fluid"
        alt="Logo Menu Principal"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
        Plataforma Integral de Gestión de Citas Médicas
      </h1>
      <p class="lead">
        ¡Bienvenido/a a nuestra plataforma integral de gestión de citas
        médicas!. Nos enorgullece ofrecerte una solución completa para agendar
        citas, gestionar doctores, consultorios y pacientes de manera eficiente
        y organizada. Nuestro objetivo es simplificar y agilizar el proceso de
        reserva de citas médicas, brindándote todas las herramientas necesarias
        en un solo lugar.
      </p>
    </div>
  </div>
</div>

<div class="container px-4 py-5" id="hanging-icons">
  <h2 class="pb-2 border-bottom">Descubre nuestras caracteristicas</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="col d-flex align-items-start">
      <div
        class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
      >
      <img src="assets\doctor.png" alt="Descripción alternativa" width="80em" height="80em">
      </div>
      <div>
        <h3 class="fs-2">¡Simplifica la Gestión de tus Doctores!</h3>
        <p>
          Agrega, Actualiza y Gestiona tus Profesionales de la Salud de Manera
          Eficiente. Accede a Perfiles Detallados, Administra Horarios y
          Disponibilidad, y Optimiza el Flujo de Trabajo de tu Práctica Médica.
          Descubre cómo Nuestra Solución Integral te Ayuda a Mantener todo Bajo
          Control en un Solo Lugar."
        </p>
        <a href="#" class="btn btn-primary"> Accede aqui </a>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div
        class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
      >
      <img src="assets\LogoPaciente.png" alt="logo paciente" width="80em" height="80em">

      </div>
      <div>
        <h3 class="fs-2">
          ¡Cuida de tus Pacientes con Facilidad y Eficiencia!
        </h3>
        <p>
          Nuestra plataforma de gestión de pacientes te ofrece todas las
          herramientas necesarias para administrar de manera efectiva la
          información de tus pacientes. Registra nuevos pacientes, actualiza datos importantes y mantén un
          seguimiento detallado de su atención médica. Simplifica tu práctica y
          mejora la experiencia de tus pacientes con nuestra solución integral
          de gestión de pacientes.
        </p>
        <a href="#" class="btn btn-primary"> Accede aqui </a>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div
        class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
      >
      <img src="assets\LogoCalendario.png" alt="Logo Calendario" width="80em" height="80em">

      </div>
      <div>
        <h3 class="fs-2">¡Agenda tu Bienestar en un Instante!</h3>
        <p>
          Descubre nuestro módulo de citas médicas, diseñado para hacer que
          reservar una cita sea rápido y sencillo. Encuentra a los mejores
          profesionales de la salud, elige la fecha y hora que más te convenga y
          asegura tu atención médica en pocos clics. Olvídate de las esperas y
          disfruta de un proceso de agendamiento eficiente y conveniente. Tu
          salud es nuestra prioridad, y con nuestro módulo de citas médicas,
          estamos aquí para facilitarte el camino hacia el bienestar."
        </p>
        <a href="#" class="btn btn-primary"> Accede aqui </a>
      </div>
    </div>
  </div>
</div>
