<div class="container">
    <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Doctor</th>
        <th>Paciente</th>
        <th>Especialidad</th>
        <th>Fecha de Inicio</th>
        <th>Fecha de Fin</th>
        <th>Consultorio</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let citaMedica of listadoCitasMedicas">
        <td>{{citaMedica.id}}</td>
        <td>{{citaMedica.doctor}}</td>
        <td>{{citaMedica.paciente}}</td>
        <td>{{citaMedica.especialidad}}</td>
        <td>{{citaMedica.fechaInicio}}</td>
        <td>{{citaMedica.fechaFin}}</td>
        <td>{{citaMedica.consultorio}}</td>
      </tr>
    </tbody>
  </table>
  